body{
    overflow-x: hidden
}

.logo{
    max-height: 50px;

}
.nextgen{
    border-radius: 30px;
    background-color: beige;
}

@media (max-width:916px){
    .nextgen{
        width:100%;
        z-index: 0;
    } 
    .nextgentextone{
        font-size:15px;
        color: black;
    }
    .nextgenimg{
        width: 100px;
    }
}
@media (max-width:519px){
    .enterprise{
        color: white;
    }
}

.nextgenimg{
    height: 50px;
}


.images{
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.integration{
    background-color: rgba(3, 137, 255, 0.838); ;
}
.hmsimg{
    border-radius: 30px;
}

.mobileapp{
    background-color: #066bf09f;
}
.mobileappimg{
    width: 95%;
    margin-left: -10%;

}

.module{
    font-size: 150%;
}

.watchapp{
    color: white;
    height:50px;
    border-radius: 25px;
    background-color:rgb(9, 1, 36)
}

ul{
    list-style-type: none; ;
}

.a{
    text-decoration-line: none;
    color: black;
}

.home:hover{
    transform: scale(1.2);
    text-decoration-line: underline;
}

.user:hover{
    transform: scale(1.2);
}

.getstarted{
    height: 50px;
    background-color:  rgba(3, 137, 255, 0.838);
     color: white; 
     font-size: 15px; 
     border-radius: 25px;
}

.social:hover{
    cursor: pointer;
}
